snippet co-authored-by
	Co-Authored-By: ${1:name} <${2:email}>${0}
snippet co-authored-by-david
	Co-authored-by: David J. Hamilton <dhamilton@linkedin.com>${0}
snippet co-authored-by-me
	Co-authored-by: Robert Jackson <rjackson@linkedin.com>${0}
