snippet schema:package.json "schema for package.json"
	"$$schema": "https://json.schemastore.org/package.json",

snippet schema:tsconfig "schema for tsconfig.json"
	"$$schema": "https://json.schemastore.org/tsconfig.json",

